################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSL.ModelBinderInMvcAndWebApi/bin
/.vs
/FSL.ModelBinderInMvcAndWebApi/obj/Debug
/packages
/FSL.ModelBinderInMvcAndWebApi/obj/Release
